.forLoopForm {
    float: left;
    width: 33%;
    background-color: rgb(155, 51, 35);
    border: 1px solid black;
    padding: 20px;
   
}
 
 
.doWhileLoopForm{
    float: right;
    width: 33%;
    background-color: rgb(155, 51, 35);
    border: 1px solid black;
    padding: 20px;
}
 
 
.whileLoopForm{
    width: 33%;
    background-color: rgb(155, 51, 35);
    border: 1px solid black;
    padding: 20px;
}
 
 
body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: rgb(75, 38, 32);
   
}